*{
    box-sizing: border-box;
}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
    margin: 0;
    box-sizing: border-box;
}














body{
   /* counterSet */
        counter-reset : Num;
   /* counterSet */

        padding: 20px;
        background: #f1f1f1;
}

.card{
    padding: 5vw;
    height: 30em;
}
.cardTitle{
    float: right;
    width: 75%;
}

img.resize {
    width:100px;
    height:100px;
  }



/* line */
.borderbox::before{
    content: " ";
    height: 100%;
    border-right: 1.5px solid gray;
    position: absolute;
    top: 1vw;
    left: 50%;
    float: left;
    
}


/* circle */
.borderbox::after{
   /* counterSet */
    counter-increment: Num;
    content: counter(Num);
   /* counterSet */

    color: white;
    width:1.5em;
    height:1.5em; 
    border-radius:99em;
    background-color:gray;
    text-align: center;
    line-height: 1.5em;
    position: relative;
    float: left;
    
    }

.borderbox{
    height: 100%;
    float: left;
    overflow: visible;
    position: absolute;
    left: 2%;
}

.finalborderbox::after{
    /* counterSet */
     counter-increment: Num;
     content: counter(Num);
    /* counterSet */
 
     color: white;
     width:1.5em;
     height:1.5em; 
     border-radius:99em;
     background-color:gray;
     text-align: center;
     line-height: 1.5em;
     position: relative;
     float: left;
     
     }



.finalborderbox{
    height: 100%;
    float: left;
    overflow: visible;
    position: absolute;
    left: 2%;    
}




.textbox{
    height: auto;
    float: left;
    width: 70%;
    position: relative;
    /* left: 5%; */
    margin: auto auto auto 8%;
    
}
.textbox p{
    margin: 0 0 4vw 0;
}

.float{
    /* display: inline-block; */
    float: left;
    height: 100%;
    /* margin: 0 auto auto auto; */
}

.row{
    max-width: 70vw;
    height: 33%;
    overflow: hidden;
    position: relative;
    margin: 0em 0em 0 2.5vw;    
}

.includerow{
    /* height: auto; */
    max-width: 90%;
    overflow: auto;
    margin: 0 5%;
    background-color: white;
}

.edurow{
    padding: 0em 0em 0 2.5vw; 
    overflow: hidden;
    /* padding: 0; */
}

.skill{
    padding: 0em 0em 0 2.5vw; 
}

.skillborder{
    border-top: solid 3px #999;
    padding: 1em;
}